*{
    border: solid 1px;
}

body{
    background-color: pink;
}
footer{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: aqua;
    margin: 0%;
    padding: 0%;
    left: 0;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home_links{
    display: flex;
    justify-content: space-between;
   
}
.home_links span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 120px;
    margin: 10px;
}

@media screen and (max-width: 960px) {
    .home_links{
        width: 55%;
        margin-left: 10%;
        margin-right: 10%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}